#table-container
{
    background-color: #FBEEC1;
    width: 344px;
    margin-left: auto;
    margin-right: auto;
}
body
{
    background-color: #BC986A;
}
h2, #input-controls, #caption-container
{
    text-align: center;
    color: #575436;
}
.delete-stock-button:hover, #add-item-button:hover
{
    cursor: pointer;
}
button
{
    margin-left: 1em;
    background-color: #8D8741;
    color: #FBEEC1;
    border-style: solid;
    border-color: #DAAD86;
}
th 
{
    text-align: left;
}
table, #caption-container
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.list-item-td
{
    width: 120px;
}
.checkbox-td
{
    width: 50px;
}
#stock-list
{
    list-style-type: none;
}
li
{
    width: 200px;
}
p 
{
    margin: .5em;
}

/*
8D8741
659DBD
DAAD86
BC986A
FBEEC1
*/